.trendGridContainer {
    display: grid;
    gap: 30px 21px;
    grid-template-columns: auto auto auto auto;
    padding: 0 40px;
    background-color: rgba(255, 255, 255, 0.8);
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    height: 380px;
}

.heart {
    justify-self: self-end;
}

.location {
    font-weight: bold;
    margin: 8px 0 2px 0;
    color: rgb(45, 44, 44);
    justify-content: space-between;
    display: flex;
}

.rating {
    align-items: center;
    display: inline-flex;
    font-weight: lighter;
}

.rating_star {
    margin-right: 4px;
}

.gridItem p {
    margin-bottom: 2px;
    color: rgb(73, 72, 72);
    font-size: 16px;
    font-weight: 450;
}

.gridItem u {
    color: #000;
}
