.footer_line {
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 255, 255);
}

.footer {
    display: flex;
    padding: 13px 40px 14px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.left_side {
    align-items: center;   
    display: flex;
    color: #222222;
}

.left_side button {
    border: none;
    background-color: none;
}

.left_side a {
    text-decoration: none;
    color: #222222;
}

.right_side {
    align-items: center;   
    display: flex;
    color: #222222;
}

.dot {
    align-items: center;
    margin-top: 57%px;
    padding-top: 5px;
}

.done {
    background-color: #fff;
    color: blue;
    border-radius: 45% 0% 0 45%;
    border: 1px solid blue;
    font-size: 10.5px;
    margin-left: 5px;
}

.times {
    background-color: blue; 
    color: #fff;
    border-radius: 0 45% 45% 0;
    border: 1px solid blue;
    font-size: 10.5px
}
.space {
    margin-right: 8px;
}

@media screen and (max-width: 576px) {
    .footer {
        display: none;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .footer {
        display: none;
    }
}