.nav_top {
    position: sticky;
    top: 13.2%;
    margin-top: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    padding-right: 110px;
    display: flex;
}

.nav a {
    text-decoration: none;
}

.trend_nav {
    height: 60px;
    width: auto;
    text-align: center;
    align-items: flex-end;
    color: #717171;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 0 15px;
    padding-bottom: 8px;
}

.trend_nav:hover {
    color: #000000;
    border-bottom: 2px solid #dddddd;
    cursor: pointer;
}

.active {
    height: 60px;
    text-align: center;
    align-items: flex-end;
    color: #000000;
    border-bottom: 2px solid #000000;
}

.active:hover {
    height: 60px;
    text-align: center;
    align-items: flex-end;
    color: #000000;
    border-bottom: 2px solid #000000; 
    cursor: context-menu;
}

.trend_icon {
    padding-top: 8px;
    font-size: 24px;
}

.left_arrow {
    margin-top: 10px;
    position: absolute;
    left: 0;
    padding: 14.1px 0 10px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 25px 0 10px rgb(255, 255, 255);
}

.right_arrow {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 8px;
    padding: 6px 0 5px 0;
    align-items: center;
}

.button_base {
    padding: 18px 17px 0 0;
    box-shadow: -25px 0 10px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 40px;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 30px;
    padding: 2px 5px;
    border-radius: 66px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.button:hover {
    padding: 2px 5px;
    border-radius: 66px;
    border: 1px solid #ddd;
    font-size: 21px;
    cursor: pointer;
    box-shadow: 0 0 10px #dddddd;
    background-color: rgba(255, 255, 255, 0.9);
}

.filter {
    margin-right: 40px;
    padding: 13px 18px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.horizontal_lineNav {
    height: 1px;
    background-color: #dddddd;
    box-shadow: 0 1px 10px #dddddd;
} 
