.nav {
    padding: 0 40px;
    overflow: hidden;
    position: relative;
}

.left_arrow {
    position: absolute;
    left: 0;
    padding: 34.1px 0 34.1px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 25px 0 10px rgb(255, 255, 255);
    display: none;
}

.right_arrow {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    padding: 25px 0 20px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: -25px 0 10px rgb(255, 255, 255);
    align-items: center;
}

.button {
    padding: 2px 5px;
    border-radius: 66px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    padding: 3px 6px;
    border-radius: 66px;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px #dddddd;
}

.filter {
    margin-left: 23px;
    margin-right: 40px;
    padding: 13px 18px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.trend_nav {
    height: 98px;
    display: flex;
    width: max-content;
    gap: 35px;
    align-items: flex-end;
}

.trend_filters {
    height: 78px;
    text-align: center;
    align-items: flex-end;
    color: #717171;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.trend_filters:hover {
    height: 78px;
    text-align: center;
    align-items: flex-end;
    color: #000000;
    border-bottom: 2px solid #dddddd;
    cursor: pointer;
}

.active {
    height: 78px;
    text-align: center;
    align-items: flex-end;
    color: #000000;
    border-bottom: 2px solid #000000;
}

.active:hover {
    border-bottom: 2px solid #000000; 
    cursor: context-menu;
}

.trend_icon {
    margin: 10px 0 4px;
    font-size: 24px;
}

.horizontal_lineNav {
    border-top: .3px solid #dddddd;
    box-shadow: 0 1.5px 4px #c1c0c0;
} 