.toggleBox {
    margin: 22px 0;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.toggleBoxContent {
    display: flex;
    margin: auto;
    width: 622.5px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    height: 66px;
    justify-content: space-between;
}

.media_toggleBoxText {
    display: none;
}

.toggleBoxText {
    padding: 20px;
    display: flex;
}

.toggleBoxToggle {
    margin-right: 20px;
    width: 50px;
    height: 30px;
    background-color: #b0b0b0;
    border-radius: 55px;
    border: 1px solid #ddd;
    padding: 2px 2px;
}

.toggleBoxChange {
    background-color: black;
    display: flex;
    justify-content: right;
}

.toggleButton {
    height: 30px;
    width: 30px;
    border-radius: 66px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width: 576px) {

    .toggleBoxText {
        display: none;
    }

    .toggleBoxContent {
        width: 90%;
    }
    
    .media_toggleBoxText {
        padding: 25px 17px;
        display: block;
        color: rgb(57, 57, 57);
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

    .toggleBoxText {
        display: none;
    }

    .toggleBoxContent {
        width: 90%;
    }
    
    .media_toggleBoxText {
        padding: 25px 17px;
        display: block;
        color: rgb(57, 57, 57);
    }

}